--- 
layout: default 
title: About
---

<div class="container">
  <div class="row">
    <div class="col-xs-12 hero-image">
      <img src="../assets/img/lights.jpg">
      <h2 class="hero-text">About Us</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="about-select-container">
        <select id="about-select">
          <option value="what-we-do">WHAT WE DO</option>
          <option value="who-we-are">WHO WE ARE</option>
          <option value="where-we-started">WHERE WE STARTED</option>
          <option value="what-we-believe">WHAT WE BELIEVE</option>
        </select>
        <i class="material-icons">arrow_drop_down</i>
      </div>
      <div class="about-sections-container">
        {% include about-sections/what-we-do.html %}
        {% include about-sections/who-we-are.html %}
        {% include about-sections/where-we-started.html %}
        {% include about-sections/what-we-believe.html %}
      </div>
    </div>
  </div>
</div>