<div id="brighter-mechanical" class="content-section companies-section">
  <div class="profile-image brighter-mechanical"></div>
  <p>
    Brighter Mechanical is British Columbia’s largest mechanical re-piping company. Brighter was founded in 1988 by Ray and
    Donna Wilde and from humble beginnings, over two generations, grew to approximately 100 staff and the leading reputation
    in its industry. Noverra acquired the company from second Generation Owner, Bob Vincent (Son-in-Law of the Company Founders)
    and his business partner, Ted McDowell, in 2012.
  </p>
  <p>
    Brighter is the leading company in British Columbia focused on retro-fitting domestic water, heating, drainage and fire-sprinkler
    piping within existing tenanted buildings. We re-pipe approximately 2000 homes per year and enjoy an industry leading
    reputation and market share.
  </p>
  <p>
    The senior management team at Brighter Mechanical has remained unchanged after our acquisition of the company and the President of 
    Brighter Mechanical was developed internally over 3 years into his current position where he is responsible for the overall management 
    of the Brighter Mechanical business.
  </p>
  <p>See
    <a href="http://www.brightermechanical.com">www.brightermechanical.com</a> for further information.</p>
</div>