<div id="thorpe-design" class="content-section companies-section" style="display:none">
  <div class="profile-image thorpe-design"></div>
  <p>Thorpe Design Ltd. is the largest residential fire projection company operating in Northern California. Over 25 years it
    was grown by Founder Jim Thorpe to be one of the most successful businesses in its industry with over 150 staff
    operating across five divisions:</p>
  <ul>
    <li>Tract Development Construction</li>
    <li>Multi-Family Residential Construction</li>
    <li>Custom Home Construction</li>
    <li>Commercial and Industrial Construction</li>
    <li>Service and Maintenance</li>
  </ul>
  <p>
    Noverra partnered with the Company’s Vice President to acquire the Company and facilitate the owner / CEO Jim Thorpe’s retirement, 
    and supported the Vice President in taking on the responsibilities of President over a transition period.  The leadership team at 
    Thorpe has remained unchanged since Noverra’s acquisition of Thorpe and we have proactively focused on developing the existing team 
    to continue Thorpe’s success. Since Noverra acquired the company in 2015, Thorpe has continued to enjoy strong results including 
    the best year in the firm’s 25+ year history.
  </p>
  <p>See
    <a href="http://www.thorpedesign.com">www.thorpedesign.com</a> for further information.</p>
</div>