<header class="fixed-header">
  <div class="navbar navbar-dark bg-dark">
    <a class="main-nav logo" href="/index.html"><img src="assets/img/logo/logo-s.png" /></a>
    <a class="main-nav" href="/about.html"><span>About Us</span></a>
    <div class="main-nav dropdown">
      <a href="/our-companies.html"><span>Our Companies</span><i class="material-icons">keyboard_arrow_down</i></a>
      <div class="dropdown-content">
        <a href="/our-companies.html#brighter-mechanical">Brighter Mechanical</a>
        <a href="/our-companies.html#thorpe-design">Thorpe Design</a>
      </div>
    </div>
    <a class="main-nav" href="/contact.html"><span>Contact</span></a>
    <a class="main-nav hamburger"><span class="toggle-button"><i class="material-icons">reorder</i></span></a>
  </div>
  <div>
    {% include nav-breadcrumbs.html %}
  </div>
</header>