<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="main-nav" href="index.html">Logo</a>
    <a class="main-nav" href="about.html">About Us</a>
    <div class="main-nav dropdown">
      <p>Noverra Group</p>
      <div class="dropdown-content">
        <a href="leadership-development.html">Noverra Leadership Development</a>
        <a href="support-services.html">Noverra Strategic Support Services</a>
        <a>Noverra Capital</a>
      </div>
    </div>
    <div class="main-nav dropdown">
      <a href="our-companies.html">Our Companies</a>
      <div class="dropdown-content">
        <a>Brighter Mechanical</a>
        <a>Thorpe Design</a>
      </div>
    </div>
    <a class="main-nav">Contact</a>
  </nav>
  <div>
    {% include nav-breadcrumbs.html %}
  </div>
</header>