<nav id="menu">
    <div class="flex-wrap">
        <div class="mobile-nav-link">
            <a href="/">Home</a>
        </div>    
        <div class="mobile-nav-link">
            <a href="/about.html#what-we-do">About Us</a>
        </div>    
        <div class="mobile-nav-link">
            <span class="mobile-sub-toggle">Noverra Group<i class="material-icons">keyboard_arrow_right</i></span>
            <div class="mobile-sub-menu invisible">
                <a href="/leadership-development.html">Noverra Leadership Development</a>
                <a href="/support-services.html">Noverra Strategic Support Services</a>
                <a href="/noverra-capital.html">Noverra Capital</a>
            </div>
        </div>
        <div class="mobile-nav-link">
            <span class="mobile-sub-toggle">Our Companies<i class="material-icons">keyboard_arrow_right</i></span>
            <div class="mobile-sub-menu invisible">
                <a href="our-companies.html#brighter-mechanical">Brighter Mechanical</a>
                <a href="our-companies.html#thorpe-design">Thorpe Design</a>
            </div>
        </div>
        <div class="mobile-nav-link">
            <a href="/contact.html">Contact</a>
        </div>
    </div>
</nav>