<nav id="menu">
    <div class="flex-wrap">
        <div class="mobile-nav-link">
            <a href="#">Home</a>
        </div>    
        <div class="mobile-nav-link">
            <a href="#">About Us</a>
        </div>    
        <div class="mobile-nav-link">
            <a class="mobile-sub-toggle" href="#">Noverra Group<i class="material-icons">keyboard_arrow_right</i></a>
            <div class="mobile-sub-menu invisible">
                <a href="#">Noverra Leadership Development</a>
                <a href="#">Noverra Strategic Support Services</a>
                <a href="#">Noverra Capital</a>
            </div>
        </div>
        <div class="mobile-nav-link">
            <a class="mobile-sub-toggle" href="#">Our Companies<i class="material-icons">keyboard_arrow_right</i></a>
            <div class="mobile-sub-menu invisible">
                <a href="#">Brighter Mechanical</a>
                <a href="#">Thorpe Design</a>
            </div>
        </div>
        <div class="mobile-nav-link">
            <a href="#">Contact</a>
        </div>
    </div>
</nav>