.about-sections-container {
  background-color: $hint-of-red;
}

.about-select-container {
  background-color: $blumine;
  color: $hint-of-red;
  margin: 25px 0;
  position: relative;
  i {
    color: $hint-of-red;
    position: absolute;
    right: 5px;
    font-size: 40px;
    top: calc(50% - 20px);
  }
}

#about-select {
  font-size: 20px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.about-section {
  padding: 15px;
  text-align: center;
}

.what-we-do {
  ul {
    list-style: none;
    margin-left: 0;
    i {
      font-size: 150px;
      margin-bottom: 15px;
    }
  }
  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center;
  }

  .company {
    margin-bottom: 25px;
    .color-block {
      color: $hint-of-red;
      margin-bottom: 25px;
      padding: 15px;
    }
    &:nth-of-type(1) {
      .color-block {
        background-color: $blumine;
      }
    }
    &:nth-of-type(2) {
      .color-block {
        background-color: $coral-red;
      }
    }
    &:nth-of-type(3) {
      .color-block {
        background-color: $cerulean-blue;
      }
    }
    .images-container {
      display: flex;
      justify-content: space-between;
      div {
        width: 40%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.who-we-are {
  .profile {
    margin-bottom: 50px;
  }
  img {
    margin: 25px auto;
  }
  .title, .read-more {
    font-weight: bold;
  }
}

.where-we-started {
  img {
    margin: 25px auto;
  }
}

.what-we-believe {
  .belief {
    color: white;
    padding: 15px;
    margin-bottom: 25px;
    
    &:nth-of-type(1){
      background-color: $cerulean-blue;
    }
    &:nth-of-type(2){
      background-color: $chicago;
    }
    &:nth-of-type(3){
      background-color: $blumine;
    }
    &:nth-of-type(4){
      background-color: $cerulean-blue;
    }
    &:nth-of-type(5){
      background-color: $chicago;
    }
  }
}
