.hero-image {
  &.contact {
    background-image: url('img/hero-images/contact-s.jpg');
  }
}

.contact {
  padding: 50px 0 0;
  .map {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 250px;
    overflow: hidden;
    width: 100%;
  }
  .contact-form {
    margin-bottom: -75px;
    margin-left: calc(50% - 50vw);
    width: 100vw;
  }
  .contact-info {
    margin: 35px 0 0 0;
    .row {
      display: flex;
      justify-content: center;
    }
  }
  h1 {
    font-size: 22px;
  }
  form {
    background-color: $cerulean-blue;
    color: $hint-of-red;
    padding: 15px;
    margin-top: 25px;
    .directions {
      margin: 15px 0 35px 0;
    }
    > .field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
      input, textarea {
        border-radius: 2px;
        border-style: none;
        color: $black;
        padding: 5px;
        -webkit-border-radius: 2px;
        width: 70%;
      }
      textarea {
        min-height: 130px;
      }
    }
    label {
      max-width: 30%;
    }
    button {
      background-color: $hint-of-red;
      color: $cerulean-blue;
      border: 0;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      margin: 5px 0 10px 0;
      padding: 10px 25px;
    }
  }
}

@media (min-width: $screen-sm-min) { 
  .contact {
    text-align: center;
    .map {
      max-height: none;
      overflow: auto;
    }
  }
}

@media (min-width: $screen-md-min) { 
  .hero-image {
    &.contact {
      background-image: url('img/hero-images/contact-m.jpg');
    }
  }
  .contact {
    form {
      > .field {
        input, textarea {
          width: 80%;
        }
      }
      label {
        max-width: 20%;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .hero-image {
    &.contact {
      background-image: url('img/hero-images/contact-l.jpg');
    }
  }
}