header {
  width: 780px;
  margin: auto;
}

.navbar {
  border: none;
  display: flex;
  margin-bottom: 0;
  a {
    color: white;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 30px 10px;
    }
  }
  .main-nav {
    color: white;
    display: table;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
    p {
      margin: 0;
    }
    &:nth-child(1) {
      background-color: $cerulean-blue;
    }
    &:nth-child(2) {
      background-color: $blumine;
    }
    &:nth-child(3) {
      background-color: $biscay;
    }
    &:nth-child(4) {
      background-color: $coral-red;
    }
    &:nth-child(5) {
      background-color: $cerulean-blue;
    }
  }
  .dropdown {
    i {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 300px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    a {
      padding: 10px;
      float: none;
      color: black;
      cursor: pointer;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    a:hover {
      background-color: $nav-hover;
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.breadcrumbs {
  margin-bottom: 0;
  .breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: $breadcrumb-background;
    height: 50px;
    padding: 0;
    margin: 0;
    li:before {
      content: none;
    }
  }
  .breadcrumb-item {
    color: $breadcrumb-font;
    position: relative;
    text-transform: uppercase;
    a {
      height: 50px;
      display: table;
      font-size: 14px;
      text-align: center;
      width: 200px;
      span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 25px;
      }
    }
    &:nth-child(1) {
      background-color: $breadcrumb-1;
      .arrow-right {
        border-left: 20px solid $breadcrumb-1;
      }
    }
    &:nth-child(2) {
      background-color: $breadcrumb-2;
      margin-left: -4px;
      .arrow-right {
        border-left: 20px solid $breadcrumb-2;
      }
    }
    &:nth-child(3) {
      background-color: $breadcrumb-3;
      margin-left: -4px;
      .arrow-right {
        border-left: 20px solid $breadcrumb-3;
      }
    }
  }
  .arrow-right {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    z-index: 2;
  }
}