.hero-home {
    align-items: center;
    background-image: url('img/hero-images/home-s.jpg');
    display: flex;
    height: 90vh;
    justify-content: center;
    h2 {
        color: white;
        font-family: Nevis;
        font-size: 54px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
    }
    .white-overlay {
        align-items: center;
        background-color: rgba(white,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 50px 100px; 
    }
    .hero-caption {
        color: $logo-grey;
        font-size: 24px;
        text-align: center;
    }
}

.home-description {
    background-color: $biscay; 
    color: $hint-of-red;
    margin-bottom: -75px;
    padding: 50px 15px;
    text-align: left;
    a {
        color: $heather;
        &:hover {
            color: $hint-of-red;
        }
        &:visited {
            color: $heather;
        }
    }
}

@media(min-width: $screen-sm-min) {
    .hero-home {
        .white-overlay {
            padding: 50px 100px;
        }
    }
    .home-description {
        text-align: left;
    }
}

@media (min-width: $screen-md-min) {
    .hero-home {
        background-image: url('img/hero-images/home-m.jpg');
    }
    .home-description {
        padding: 100px;
    }
}

@media (min-width: $screen-lg-min) {
    .hero-home {
        background-image: url('img/hero-images/home-l.jpg');
        h2 {
            text-align: left;
        }
        .white-overlay {
            flex-direction: row;
        }
        .hero-caption {
            text-align: left;
        }
    }
}