.hero-image {
  &.leadership-development {
    background-image: url('img/lake.jpg');
  }
}

.leadership-development {
  ul {
    list-style: none;
    text-align: center;
  }
  li {
    margin-bottom: 25px;
  }
  .icon-wrapper {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    text-align: center;
    width: 100%;
    i {
      font-size: 150px;
      margin-bottom: 20px;
    }
    &.multiple {
      .primary { 
        i {
          margin-bottom: 0;
        }
      }
      .secondary {
        display: flex;
        flex-direction: column;
        i {
          font-size: 75px;
          margin-bottom: 0;
        }
      }
    }
    &.multiple-flat {
      i {
        font-size: 85px;
      }
    }
  }
  h5 {
    font-size: 18px;
  }
}
