.hero-image {
  &.our-companies {
    background-image: url('img/lake.jpg');
  }
}

.profile-image {
  &.thorpe-design {
    background-image: url('https://www.fillmurray.com/g/300/300');
  }
  &.brighter-mechanical {
    background-image: url('https://www.fillmurray.com/g/305/305');
  }
}

.companies-section {
  background-color: $heather;
  padding: 15px;
}

@media (min-width: $screen-sm-min) { 
  .companies-info {
    margin-top: 25px;
  }
  #companies-tabs-container {
    .tab {
      padding: 25px 0;
      &.active {
        background-color: $heather;
        &:hover {
          background-color: darken($heather, 10%);
        }
      }
    }
  }
  .companies-section {
    .profile-image {
      display: block;
      margin: 15px auto 25px auto;
    }
  }
}