// Use this for global/general styles, and for overriding any bootstrap or 
// minima styles that are still around
  
a {
  transition: color 0.2s;
  &:hover {
    transition: color 0.2s;
  }
  &:visited {
    color: $black;
  }
}

body {
  background-color: $hint-of-red;
  font-family: 'Noto Sans', sans-serif;
  color: $black;
}

.box-shadow {
  box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.80); 
}

p {
  font-size: 16px;
}

.hero-image {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.hero-text {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  color: white;
}

.read-more {
  color: $black;
  display: block;
  text-align: center;
  &:hover {
    color: $coral-red;
    text-decoration: none;
  }
}

.section-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
}

select {
  color: $hint-of-red;
}

@media (min-width: $screen-sm-min) { 
  .section-heading {
    font-size: 24px;
    padding: 50px;
  }
  .hero-text {
    bottom: 25px;
    font-size: 36px;
    padding-left: 25px;
    text-align: left;
  }
}