// Use this for global/general styles, and for overriding any bootstrap or 
// minima styles that are still around
  
a {
  transition: color 0.2s;
  &:hover {
    transition: color 0.2s;
  }
  &:visited {
    color: $black;
  }
}

body {
  background-color: $hint-of-red;
  font-family: 'Noto Sans', sans-serif;
  color: $black;
}

.box-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

p {
  font-size: 16px;
}

.hero-image {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.hero-text {
  position: absolute;
  text-align: center;
  text-align: center;
  bottom: 10px;
  width: 100%;
  color: white;
}

.read-more {
  color: $black;
  display: block;
  text-align: center;
  &:hover {
    color: $coral-red;
    text-decoration: none;
  }
}

.section-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
}

select {
  color: $hint-of-red;
}