$cerulean-blue: #3066BE; //LOGO
$coral-red: #FB3640; //OUR COMPANIES
$chicago: #605F5E;
$biscay: #1D3461; // NOVERRA GROUP
$blumine: #1F487E; // ABOUT US
$heather: #C3CDDB;

$hint-of-red: #F5F2F2;
$black: #000000;