$cerulean-blue: #3066BE; //LOGO
$danube: #7aaedb; //OUR COMPANIES
$chicago: #605F5E;
$biscay: #1D3461; // NOVERRA GROUP
$blumine: #1F487E; // ABOUT US
$heather: #C3CDDB;

$logo-grey: #404148;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$hint-of-red: #F5F2F2;
$black: #2f2f2f;

$breadcrumb-background: #605F5E;
$breadcrumb-font: #1D3461;
$breadcrumb-1: #7aaedb;
$breadcrumb-2: #b2c4db;
$breadcrumb-3: #F5F2F2;

$nav-hover: #e5e9ef;