<div id="what-we-believe" class="content-section about-section what-we-believe" style="display:none">
  <p>
    The personal values of the three Owners of the Noverra Group of Companies drive the business strategy and decision making of our group.
    These values, which may seem old fashioned, are central in our strategic approach and the manner in which we conduct
    business:
  </p>
  <div class="belief box-shadow">
    <h4>1. INTEGRITY, HONESTY, CLARITY</h4>
    <p>
      We believe in, and practice, the model of business where we say what we mean; we try to be as clear and honest as possible;
      and, we always honor our word. If we shake someone’s hand, it is as good as a signature. There are lots of opportunities
      in business and in life, and we have found it to be most rewarding when we do business with people that share this
      mindset and practice.
    </p>
  </div>
  <div class="belief box-shadow">
    <h4>2. STRONG, TRUSTED RELATIONSHIPS</h4>
    <p>
      We show respect and fairness in all of our dealings. We strive to build strong, long, trusting relationships with everyone
      we do business with. We believe that the strength of relationships with our people, customers, suppliers and everyone
      we do business with, will be the key to our value over the long run. Having wonderful relationships with the people
      you do business with also just makes things more fun.
    </p>
  </div>
  <div class="belief box-shadow">
    <h4>3. PRUDENT, STRATEGIC, LONG-TERM FOCUS</h4>
    <p>
      We aim to build a wonderful group of companies for the long term, which we think of as 25 years or more. We have no interest
      in selling our companies; we have a desire to strategically invest over the very long run, and a naturally prudent
      mindset in our investment approach.
    </p>
  </div>
  <div class="belief box-shadow">
    <h4>4. COLLABORATIVE INDEPENDENCE</h4>
    <p>
      We believe that each business in our group should operate independent of one another. We believe that local companies,
      led by local leaders produce the best results driven by accountability and clarity of focus. Collaborating across the
      group to share great practices and tools enables the benefits of being a part of a group of businesses without any
      of the constraints and friction of integration
    </p>
  </div>
  <div class="belief box-shadow">
    <h4>5. STRONG LEADERS BUILD GREAT COMPANIES</h4>
    <p>
      We believe that ultimately the strength of leadership throughout our companies will drive the success of our businesses 
      over the long run, and as such, we proactively invest in the development of the leaders within each of our businesses. 
      Building great leaders from the President on down to each staff member in our companies is a key focus of our efforts, 
      and we believe its is the only way to create long term sustainable success in any organization.
    </p>
  </div>
</div>