<div id="what-we-do" class="content-section about-section what-we-do">
  <p>
    Noverra Group of Companies is an actively owned, and strategically led family of construction and industrial services companies founded and led by three Owners, Omar Ladak,
    Steve Lux, and Suzanne Boyd. We are focused on strategically supporting the continued success of our group companies,
    proactively developing the leaders and people within our businesses; and, pursuing growth through further acquisitions
    aligned to our approach.
  </p>

  <div class="service">
    <h3 class="section-heading">NOVERRA CAPITAL</h3>
    <div class="color-block box-shadow">
      <p>
        Noverra Capital is our investment company, which focuses on acquiring new businesses for our group. We invest the earned
        cash-flows from our operating companies to provide the capital required for acquisitions without outside passive
        investors, enabling flexibility and a very long investment horizon.
      </p>
      <p>
        <a class="link-white" href="/noverra-capital.html">READ MORE</a>
      </p>
    </div>
  </div>

  <div class="service">
    <h3 class="section-heading">NOVERRA SUPPORT SERVICES</h3>
    <div class="color-block box-shadow">
      <p>
        Noverra Support Services provides strategic support for each of our operating businesses enabling the leadership teams
        to develop and execute effective strategies for continued success of the business. We have found that many companies
        have strong sales and operational management, but that a number of business owners who wish to transition out of their companies
        have been solely responsible for the financial and strategic elements of the business. Noverra Support Services has
        been developed to enable transitions for exiting owners which may otherwise be challenging due to the strategic gap
        left in successful companies when the owner retires.
      </p>

      <p>
        <a class="link-white" href="/support-services.html">READ MORE</a>
      </p>
    </div>
  </div>

  <div class="service">
    <h3 class="section-heading">NOVERRA LEADERSHIP DEVELOPMENT</h3>
    <div class="color-block box-shadow">
      <p>
        Noverra Leadership Development delivers and deploys leadership development content and shares best practices from across
        our group, to our operating company executives, managers and staff, enabling us to proactively develop the capabilities
        of the teams that successfully lead our group companies. We have a bias towards developing the existing teams as
        opposed to bringing in new management teams. The capacity of our leaders, managers and staff in each of our operating
        companies is the constraint for our growth and continued success; our leadership development programs enable us to
        continuously grow this capacity.
      </p>

      <p>
        <a class="link-white" href="/leadership-development.html">READ MORE</a>
      </p>
    </div>
  </div>
</div>