<div id="where-we-started" class="content-section about-section where-we-started" style="display:none">
  <p>Noverra Group of Companies was founded in December 1st 2008 with the founding strategic idea to combine the very different
    skills, experience and talents of our three Founders towards the objective of acquiring, growing and owning a group of
    wonderful businesses together. Our objective was to partner together for decades, with no investment horizon, and no
    passive outside equity capital.</p>
  <p>Given December 1st 2008 was two and a half months after Lehman Brothers declared bankruptcy, a much publicized trigger
    for the Great Recession, and we were starting with only modest investment capital as first generation entrepreneurs,
    we decided to patiently wait until the financial environment was stronger to make our first investment. In the mean-time,
    we started a consulting services company which provided Capital Services and Change Management Advisory Work from which
    we successfully provided services to corporate clients across BC and in Alberta.</p>
  <div class="image-container">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255">
  </div>
    <img class="img-responsive mobile" src="https://www.fillmurray.com/g/220/255">
  <p>In 2012, with the support of passive equity investors, we acquired Brighter Mechanical Ltd., the largest mechanical re-piping
    company in British Columbia, and an Asbestos Abatement company we re-named Brighter Environmental.</p>
  <p>We successfully transitioned the ownership of the Brighter Group Companies and have continued to strategically lead the
    company over its most successful years in its 30 year history. In addition, we proactively developed key members of the
    project management, operational leadership, and executive team to fill the gaps left by the exiting owners, who were
    active in the leadership of the business.</p>
  <p>In 2015, we acquired our second company, Thorpe Design Ltd., the largest residential fire sprinkler company in Northern
    California. With the support of our strategic practices and leadership development focus, Thorpe has continued to enjoy
    very strong results under our active ownership, including the company’s best year in its over 25 year history.</p>
  <p>In 2017, we acquired our passive co-investors interests in the Brighter Group Companies after which we owned 100% of the
    group. This second stage of the Brighter Group acquisition helped us achieve a key strategic goal of not having any passive
    outside equity investors in any of our family of companies.</p>
  <p>Given the success of our current Operating Companies, we are well positioned to continue to add great businesses to our
    group.
  </p>
  <p>Our objectives remain unchanged: to grow a wonderful family of companies together, over the very long term, with no investment
    horizon, combining the talents and energies of our three founders with the team of exceptional leaders we are privileged
    to work with; and, proactively supporting the development of all the people that work in our family of companies; always
    behaving in concert with our beliefs and values.</p>
  <img class="img-responsive mobile" src="https://www.fillmurray.com/g/220/255">
</div>