<div id="who-we-are" class="content-section about-section who-we-are" style="display:none">
  <p>The Noverra Group of Companies was founded and is led by three equal Owners, Omar Ladak, Steve Lux and Suzanne Boyd.</p>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Omar Ladak, Owner</h3>
    <div class="bio">
      <p>
        Omar is responsible for ensuring strategic alignment between Noverra’s three Owners and our Operating Company Executives.  
        In addition, he works with Steve on the evaluation of new acquisitions to fuel the grown of our group; and with Suzanne on 
        the creation of Leadership Development programing to proactively support the growth of our people. Further he provides 
        mentorship and leadership development support for our most senior Operating Company Executives.
      </p>

      <p>
        Omar was formerly a Senior Partner and Member of the Board of Directors at RPO Management Consultants, a boutique strategy 
        consultancy with a national Canadian practice which was merged with the Secor Group and ultimately acquired by KPMG Canada. 
      </p>
 
      <p class="below-fold hidden">
        Omar has been a principal, business owner, board director or advisory board member of companies in the Business Services, 
        Financial Services, Technology, Real-Estate and Construction Services industries.  His consulting advisory experience spanned 
        the Telecommunications, Transportation, Financial Services, Healthcare, Technology, Manufacturing, Distribution, Alternative 
        Energy, and Government sectors.
      </p>
         
      <p class="below-fold hidden">
        In addition to his business and entrepreneurial pursuits, Omar is passionate about the community and has been actively involved 
        through board and advisory roles in various not-for-profit organizations. Omar has served as a member of the Board, Advisory 
        Board or Campaign Cabinet for the United Way of the Lower Mainland; the Quest Food Exchange; The Centre for Healthcare Management 
        at the Sauder School of Business; and the BC Construction Safety Alliance.
      </p>
         
      <p class="below-fold hidden">
        Omar is an active member of the Young Presidents Organization (YPO) and currently serves on the Executive Board for the YPO 
        Chapter in British Columbia.
      </p>
         
      <p class="below-fold hidden">
        Omar graduated with an undergraduate degree in Engineering from the University of British Columbia (UBC), as well as a Masters’ 
        degree in Business Administration from the Sauder Business School at UBC. In addition, he has completed the President’s Program 
        at Harvard Business School as well as executive education programs in corporate finance, corporate growth, leading business schools 
        including, INSEAD; and; the Kellogg School of Business at Northwestern University. 
      </p>
        
      <a class="read-more">READ MORE</a>
    </div>
  </div>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Steve Lux, Owner</h3>
    <div class="bio">
      <p>
        Steve Lux is responsible for the Financial Strategy and Management of the Group as well as Performance Reporting for each of our 
        Operating Companies. In addition, Steve leads the evaluation process for potential new acquisitions, the primary driver of our growth strategy.
      </p>
        
      <p>
        Prior to co-founding Noverra, Steve’s experience includes senior advisory roles at RPO Management Consultants and PricewaterhouseCoopers. 
        Steve has almost 20 years of financial and strategic advisory experience having advised clients across Canada, the United States, and 
        internationally on operational, business and financial strategy.  His work prior to co-founding Noverra included CFO level roles for 
        early stage and mid-sized companies as well as advisory work to senior executives in multi-billion dollar organizations. His experience 
        spans a broad base of industries including: healthcare, insurance, financial services, government, technology, investment management, 
        and construction services; and includes a broad set of operational, financial and strategic responsibilities.
      </p>
        
      <p class="below-fold hidden">
        Steve currently serves as the Vice Chair of the Board for the Independent Contractors and Business Association of BC.  In addition, he 
        serves as the Chair of the Audit Committee and a Member of the Board for Benefits Services Ltd., a privately held benefits services 
        company providing health benefits management services for small and medium sized construction focused companies in British Columbia.
      </p>
         
      <p class="below-fold hidden">
        Steve is a Certified Professional Accountant (CPA) who holds a n MBA from the Rotman School of Management at the University of Toronto, 
        where he was awarded the Roger N. Wolff Prize and the Andrew Alexander Kinghorn Award as Rotman’s top student in both years of the MBA 
        program. In addition, Steve holds a Bachelor of Commerce degree from the University of Alberta.
      </p>  
        
      <a class="read-more">READ MORE</a>
    </div>
  </div>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Suzanne Boyd, Owner</h3>
    <div class="bio">
      <p>
        Suzanne is responsible for the development and delivery of Leadership Programs across the Noverra Group of Companies. In addition, Suzanne 
        provides expert level support for Human Resources opportunities and challenges within our Operating Companies across: recruitment, work 
        force planning, organizational design, and performance management.
      </p>
      
      <p>
        Prior to co-founding Noverra, Suzanne was the Principal of EdgeStone HR Consulting, a leading Vancouver based HR advisory practice. Prior 
        to her consulting career, Suzanne was a strategic project leader for Vancity, a Vancouver based retail and commercial banking company; as 
        well as an Executive Search Professional at Ray &amp; Berndtson (now Boyden Global Executive Serach), a leading retained executive search firm.
      </p>

      <p class="below-fold hidden">
        Suzanne’s experience has spanned leadership development and corporate change programs across a broad set of industries including: primary 
        resources, manufacturing, construction, bio-technology, transportation, utilities, retail banking, insurance, government, and the not-for-profit 
        sector. Her expertise focuses on: leadership and management development as well as organizational change management to enable growth and 
        operational effectiveness improvement.  In addition she has strong experience in human resources program development and implementation for 
        recruitment, performance management, workforce planning, and core HR practices.
      </p>

      <p class="below-fold hidden">
        In addition to her business pursuits, Suzanne is actively engaged in the community as a member of the Board of Governors of Shawinigan Lake 
        School, her alma mater, where she has served as a member of the Governance Committee and the Leadership Succession Committee, as well as 
        Chair of the Human Resources Committee.
      </p class="below-fold hidden">

      <p class="below-fold hidden">
        Suzanne is a Certified Human Resources Professional (CHRP) and graduate of the Executive Masters of Business Administration program at Simon 
        Fraser University (SFU).  In addition, she earned her undergraduate degree in Sociology and Women’s Studies from the University of British Columbia.
      </p>

      <a class="read-more">READ MORE</a>
    </div>
  </div>
</div>