<div id="who-we-are" class="content-section about-section who-we-are" style="display:none">
  <p>The Noverra Group of Companies was founded and is led by three equal Owners, Omar Ladak, Steve Lux and Suzanne Boyd.</p>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Omar Ladak, Owner</h3>
    <div class="bio">
      <p>Omar is responsible for ensuring strategic alignment between Noverra’s three Owners and our Operating Company Executives.
        In addition, he works with Steve on the evaluation of new acquisitions to fuel the grown of our group; and with Suzanne
        on the creation of Leadership Development programing to proactively support the growth of our people. Further he
        provides mentorship and leadership development support for our most senior Operating Company Executives.</p>
      <p>Omar was formerly a Senior Partner and Member of the Board of Directors at RPO Management Consultants, a boutique strategy
        consultancy with a national Canadian practice which was merged with the Secor Group and ultimately acquired by KPMG
        Canada.
      </p>
      <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="read-more">READ MORE</a>
    </div>
  </div>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Steve Lux, Owner</h3>
    <div class="bio">
      <p>Steve Lux is responsible for the Financial Strategy and Management of the Group as well as Performance Reporting for
        each of our Operating Companies. In addition, Steve leads the evaluation process for potential new acquisitions,
        the primary driver of our growth strategy.</p>
      <p>Prior to co-founding Noverra, Steve’s experience includes senior advisory roles at RPO Management Consultants and PricewaterhouseCoopers.
        Steve has almost 20 years of financial and strategic advisory experience having advised clients across Canada, the
        United States, and internationally on operational, business and financial strategy.</p>
      <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="read-more">READ MORE</a>
    </div>
  </div>
  <div class="profile">
    <img class="img-responsive" src="https://www.fillmurray.com/g/220/255" alt="">
    <h3 class="title">Suzanne Boyd, Owner</h3>
    <div class="bio">
      <p>Suzanne is responsible for the development and delivery of Leadership Programs across the Noverra Group of Companies.
        In addition, Suzanne provides expert level support for Human Resources opportunities and challenges within our Operating
        Companies across: recruitment, work force planning, organizational design, and performance management.</p>
      <p>Prior to co-founding Noverra, Suzanne was the Principal of EdgeStone HR Consulting, a leading Vancouver based HR advisory
        practice. Prior to her consulting career, Suzanne was a strategic project leader for the Vancity, a Vancouver based
        retail and commercial banking company; as well as an</p>
        <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="below-fold hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="read-more">READ MORE</a>
    </div>
  </div>
</div>